* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

.p-rel {
	position: relative;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	margin: 10px;
}

.reel-header button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	transition: all 0.3s ease;
	padding: 5px;
	border-radius: 20px;
}

.reel-header button:hover {
	filter: brightness(0.8);
}

.btn-play,
.btn-search {
	font-size: 18px;
}



/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: black;
}

.navbar a {
	color: #fff;
	text-decoration: none;
	display: flex;
	flex-direction: column;
}



/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 30px;
}

.container-btn-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

.container-btn-sidebar span {
	color: #fff;
}

.sidebar button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

.btn-share {
	transform: scaleX(-1);
}

.sidebar button:hover {
	filter: brightness(0.8);
}

.img-boolean {
	display: block;
	width: 33px;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 50%;
}

.add {
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 14px;
	translate: 0 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */