* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

.p-rel {
	position: relative;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	margin: 10px;
}

.central-tabs-bar {
	position: relative;
}

.btn-exp:hover::after,
.btn-follow:hover::after,
.btn-for-you:hover::after {
	position: absolute;
	content: "";
	border: 2px solid #fff;
	border-radius: 20px;
}

.btn-exp:hover::after {
	bottom: 0;
	left: 11px;
	width: 20%;
}

.btn-follow:hover::after {
	bottom: 0;
	left: 43%;
	width: 20%;
}

.btn-for-you:hover::after {
	bottom: 0;
	right: 14px;
	width: 12%;
}


.reel-header button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	transition: all 0.3s ease;
	padding: 5px;
	border-radius: 20px;
}

.reel-header button:hover::after {
	filter: brightness(0.8);
}

.btn-play,
.btn-search {
	font-size: 18px;
}



/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	background-color: black;
}

.navbar a {
	color: lightgray;
	text-decoration: none;
	font-size: 13px;
}

.navbar a,
.container-btn-footer {
	width: calc(100% / 5);
	display: flex;
	flex-direction: column;
	text-align: center;
	cursor: pointer;
}

.navbar a:hover {
	color: #fff;
}

.navbar .bi {
	font-size: 25px;
}

.navbar button {
	background-color: #fff;
	border: none;
	margin: 10px 15px;
	padding: 5px;
	border-radius: 15px;
	cursor: pointer;
	position: relative;
	box-shadow: -4px 0 0 #00f2ea, 4px 0 0 #ff0050;
}


.navbar button:hover {
	filter: brightness(0.8);
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 30px;

}

.container-btn-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.container-btn-sidebar span {
	color: #fff;
	font-size: 13px;
}

.sidebar button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

.btn-share {
	transform: scaleX(-1);
}

.sidebar button:hover {
	filter: brightness(0.8);
}

.img-boolean {
	display: block;
	width: 33px;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 50%;
}

.add {
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 14px;
	translate: 0 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */